@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Big Shoulders Text", sans-serif;
  background: linear-gradient(180deg, #202020 0%, #343434 100%);
  color: white;
  background-attachment: fixed;
  overscroll-behavior: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.HotspotAnnotation {
  background: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: "Big Shoulders Text", sans-serif;
  font-size: 12px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}

button {
  background: none;
  border: none;
}

#logo {
  top: 20px;
  left: 20px;
  position: absolute;
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo p {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 700;
}
#logo p span {
  font-weight: 100;
}

#logo img {
  filter: invert(1);
  margin-top: 10px;
}

.active {
  opacity: 0.5;
}

#instrucoes {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  color: #ffffff;
  z-index: 1001;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#instrucoes a {
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#instrucoes p {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#footer {
  text-align: right;
  top: 10vh;
  right: 60px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 500px;
  position: absolute;
  line-height: 35px;
  color: white;
}

#footer h2 {
  font-size: 2.2em;
  font-weight: 200;
}

#footer p {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 15px;
  width: 300px;
  opacity: 0.5;
}

h1 {
  text-align: left;
  position: relative;
  left: 40px;
  top: 40px;
  color: #ffffff;
  opacity: 0.05;
  font-size: 15vw;
  line-height: 13vw;
  display: flex;
  letter-spacing: -0.9vw;
  font-weight: 800;
}

#card {
  flex: 1;
  display: flex;
  width: 100%;
  height: 70%;
  overflow: hidden;
  flex-direction: column;
}

model-viewer {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  --poster-color: transparent;
  z-index: 2;
}

model-viewer--poster {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  h1 {
    display: flex;
    width: 85%;
    height: 100vh;
    margin-top: auto;
    vertical-align: center;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  #footer {
    top: 120px;
    left: 40px;
    font-size: 16px !important;
    width: 85%;
  }

  #footer p {
    top: 80px;
    text-align: left;
    font-size: 14px !important;
  }

  #instrucoes p {
    width: 100%;
    font-size: 10px !important;
    z-index: 2;
  }
}
